
<!-- templates/_base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} AKANI MASHABA</title>

    <link rel="stylesheet" type="text/css" href="{% static 'outwind.css' %}"/>

</head>

<body class="flex flex-col h-screen">
    <!-- Add this -->
    
<nav class="bg-white fixed w-full z-20 top-0 left-0 border-b border-gray-200">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 py-2 sm:py-4 lg:py-4   flex flex-wrap items-center justify-between p-4">
    <a href="{{ .Site.Params.homepage }}"  class="flex items-center">
      <h2 class="self-center leading-10 text-3xl font-semibold whitespace-nowrap ">AKANI</h2>
    </a>
  <div class="items-center block md:hidden">
    <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
      <span class="sr-only">Open main menu</span>

      <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>

      <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>

  </div>
  <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-user">
    <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:border-0 md:bg-white capitalize">
      <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 capitalize" aria-current="page">Home</a>
      </li>
      <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 capitalize">resume</a>
      </li>
      <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 capitalize">projects</a>
      </li>
        <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 capitalize">services</a>
      </li>
      <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 capitalize">blog</a>
      </li>
      <li>
        <a href="{% url 'index' %}" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 capitalize">Contact</a>
      </li>
    </ul>
  </div>
  </div>
</nav>

    

    <div class=" flex-grow sm:mt-0.5">
        {% block content %}

        {% endblock content %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
</body>

</html>